In [5]:
%pip install pandas

Collecting pandas
  Using cached pandas-2.3.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.4.0-cp311-cp311-win_amd64.whl.metadata (6.6 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jeremy wijaya\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\jeremy wijaya\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp311-cp311-win_amd64.whl (11.3 MB)
Using cached numpy-2.4.0-cp311-cp311-win_amd64.whl (12.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.4.0 pandas-2.3.3 pytz-2025.2 tzdata-2025.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [9]:
file_path = '../data/raw/dataset_clean.csv'
df = pd.read_csv(file_path)

In [10]:
df.head(5)

,image_filename,caption_desc,emotion_label
0,1000092795.jpg,two young guys with shaggy hair look at their ...,NaN
1,1000092795.jpg,"two young , white males are outside near many ...",NaN
2,1000092795.jpg,two men in green shirts are standing in a yard .,NaN
3,1000092795.jpg,a man in a blue shirt standing in a garden .,NaN
4,1000092795.jpg,two friends enjoy time spent together .,NaN

In [12]:
df.tail(5)

,image_filename,caption_desc,emotion_label
158910,998845445.jpg,a man in shorts and a hawaiian shirt leans ove...,NaN
158911,998845445.jpg,"a young man hanging over the side of a boat , ...",NaN
158912,998845445.jpg,a man is leaning off of the side of a blue and...,NaN
158913,998845445.jpg,"a man riding a small boat in a harbor , with f...",NaN
158914,998845445.jpg,a man on a moored blue and white boat with hil...,NaN